.edit-menu-container{
    width: 250px;
    height: 240px;
    border-radius: 10px;
    background-color: rgb(246, 243, 243);

}
.edit-menu-header{
    border-bottom: 1px solid lightgray;
    padding: 10px 0 10px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.edit-menu-form{
    margin: 5px 0 0 25px;
}
.edit-menu-form > input {
    display: block;
    margin: 5px 0 5px 0;
}
.errors-handler-menu{
    height: 40px;
    padding: 15px 10px 0 10px;
    color: red;
}
