.add-review > label {
    display: block;
}
.review-outer{
    background-color: rgb(242, 242, 242);
    max-width: 300px;
    height: 250px;
    border-radius: 15px;
}
.add-review{
    margin: 20x;
    padding: 10px;
}
