.edit-review-header{
    border-bottom: 1px solid lightgray;
    padding: 15px 0 10px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.edit-review-form{
    margin: 0 20px 0 10px;
}
.errors-handler-review{
    height: 50px;
    color: red;
    padding: 5px 10px 0 10px;
}
.edit-review-form > input, .edit-review-form>textarea{
    display: block;
    margin: 5px;
}
