.add-business > label{
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    padding: 5px;
}
/* body{
    background-color: darkgray;
} */
.add-business {
    /* padding-left: 250px;
    text-align: left; */
    text-align: left;
    margin: auto;
    background-color:ghostwhite;
}
.add-background{
    /* text-align: center;
    padding-top: 100px; */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}
button {
    color:white;
    padding:6px 14px;
    background-color:dimgray;
    border-radius: 10px;
    cursor: pointer;
    transition:all 0.3s ease 0s;
    margin: 10px;
}

.error{
    color: crimson;
}
