.add-business-form > label{
    display: block;
    padding: 5px;
}
.add-business-form{
    margin: 10px 15px 10px 20px;
}
.add-business-container {
    background-color:rgb(253, 250, 250);
    border-radius: 15px;
    width: 300px;
    height: 550px;
}
button {
    color:white;
    padding:6px 14px;
    background-color:dimgray;
    border-radius: 10px;
    cursor: pointer;
    transition:all 0.3s ease 0s;
    margin: 10px;
}
.errors-handler-business{
    color: red;
    padding: 5px 0 0px 10px;
    height: 100px;
}
.business-header{
    padding: 10px 15px;
    border-bottom: 1px solid lightgray;
}
.business-header > div{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
