/* button{
    border-radius: 3px;
    background-color:honeydew;
    cursor: pointer;

} */
div.header{
    padding-left: 40px;
}
.name {
    font-size: xx-large;
    font-weight: bold;
}
button:hover{
    background-color:black;
}
.business-info > p{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    font-weight: bold;
}
.business-button{
    display: flex;
    /* justify-content:flex-end; */
}
.form-table{
    padding-top: 20px;
    margin-top: 30px;
    display: grid;
    grid-template-areas:
    "info fix";
    grid-template-columns: 1fr 1fr;

}
.business-info{
    grid-area: info;

}
.edit-delete{
    grid-area: fix;
    font-weight: bolder;
}

img.image{
    height: 220px;
    width: 250px;
    padding-left: 20px;
}
