/* button{
    border-radius: 3px;
    background-color:honeydew;
    cursor: pointer;

} */

button:hover{
    background-color:black;
}
.business-info > ul{
    font-family: Arial, Helvetica, sans-serif;
}
.business-info  button.edit{
    margin-left: 600px;
}
