.edit-business > label{
    display: block;
    margin-top: 5px;
}
.edit-business-header{
    border-bottom: 1px solid lightgray;
    padding: 10px 0 10px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
label{
    font-family:Arial, Helvetica, sans-serif;
}
.errors-handler-business {
    color: red;
    margin: 10px;
}
.edit-business{
    margin: 5px 30px 20px 30px;
    /* padding: 10px; */
}
.edit-business-outer{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 300px;
}
