ul.each-business {
    display: inline-block;
    padding: 25px;
    margin: 25px;
    background-color:floralwhite;
    border-radius: 15px;
}
.each-business  li{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    padding-top: 8px;
}
.each-business > a{
    text-decoration: none;
}
.business-logo{
    max-height: 120px;
    max-width: 120px;
    border-radius: 10px;
}
.footer-container {
    display: flex;
}
.footer-outer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/* .all-businesses{
    padding-left: 30px;
} */

.footer-container > div{
    padding: 10px;
    margin: 10px;
}
.footer-col > ul a{
    text-decoration: none;
    color: black;
}
.footer-col > ul a:hover{
    color:darkgray;
}
