ul.each-business {
    display: inline-block;
    padding: 25px;
    margin: 25px;
    background-color:floralwhite;
    border-radius: 15px;
}
.each-business  li{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:black;
    padding-top: 8px;
}
.each-business > a{
    text-decoration: none;
}
.business-logo{
    height: 120px;
    width: 120px;
    border-radius: 10px;
}
/* .all-businesses{
    padding-left: 30px;
} */
