
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:floralwhite;
    height: 75px;
    padding: 0px 0 0 13px;
    z-index: 1;
}

button.profile{
    margin: 10px;
    padding: 3px;
}
button.list-business{
    margin: 10px;
    padding: 5px;
}
img.img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 15px;
}
