.profile-dropdown{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    right: 5px;
    width: 100px;
    /* height: 100px; */
    background-color:rgb(252, 249, 249);
    padding: 10px;
    border-radius: 5px;
}
.profile-Outer{
    display: inline-block;
    position: relative;
}
